h1{
    font-family: 'Fruktur';
    font-size: 50px;
}

button{
    background-color: white;
    border: black 4px solid;
    font-size: 30px;
    padding: 10px;
}

button:hover{
    cursor: pointer;
    background-color: #969696;
}

div{
    margin: auto;
}